#menu_nav {
  position: absolute;
  margin:auto;
  padding:0px;
  width:100%;
  height:60px;
}

#menu_nav li {
  display:inline;
  float:left;
  width:auto;
}

#menu_nav li a {
  margin:auto;
  text-decoration: none;
  display:block;
  padding:10px;
  background-color:#FFF;
  color:white;
  border: 1px solid white;
  background-color:green;
  width:180px;
  font-size:12px;
  text-align:center;
}

#menu_nav li ul {
  display:none;
}

#menu_nav li a:hover {
  background-color:white;
  color:purple;
}

#menu_nav li ul {
  margin:auto;
  padding:0px;
}

#menu_nav li ul li {
  display:inline;
}

#menu_nav li ul li a {
  margin:auto;
  text-decoration: none;
  display:block;
  padding:10px;
  background-color:#FFF;
  color:white;
  border: 1px solid white;
  background-color:green;
}

#menu_nav li:hover ul {
  display:block;
}

#menu_nav li ul li {
  float:none;
}

.current_item {
  font-weight:bolder;
}




























#menu_nav {

}

.page_heading {
padding-top:60px;
}

.home ol {
  list-style-type: none;
}


#drives_table {

    width:90%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}
