#menu_items {
  float:left;
  margin:auto;
  margin-right:20px;
  width:28%;
  height:100%;
}

.home {
  margin:auto;
  float:right;
  width:70%;
  height:100%;
}

.page_heading {
  font-size:2em;
  font-weight:bold;
}

/**add style to Page Tree navigation -- Start*/

#nav_menu {
  margin:0;
  padding:0;
}

li {
  list-style: none;
}

#nav_menu li ul {
  display: none;
}

#nav_menu li:hover ul {
  display: block;
}

i {
    float: right;
    border: solid purple;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 30px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.how_articles {
  text-decoration: none;
  color: purple;
  font-weight: bold;
}

.item input {
  display: none;
}

.item label {
  display:block;
  padding:10px;
  background: purple;
  color: white;
  cursor: pointer;
  font-weight:bold;
  border: 2px solid white;
}

.item label:hover{
  background-color: orange;
}

.item label li a {
  text-decoration:none;
  color:white;
}

.item ul {
  overflow: hidden;
  max-height: 0;
  transition: all .4s linear;
}

.item input:checked ~ ul {
  height: auto;
  max-height: 600px;
  transform: all;
}

.item ul li {
  width: 100%;
  list-style: none;
  padding:0;
}

.item ul li a {
  width: 100%;
  display: block;
  padding:10px;
  height: 20px;
  text-decoration: none;
  color: black;

  border-bottom: 2px solid white;
}

.item label a {
  text-decoration: none;
  color:black;
}

.item ul li a:hover {
  background-color: orange;
}

/**active menu item**/
#active label {
  background:orange;
}


#network_color {
  font-weight: normal;
  color: black;
  background-color: white;
}

#network_color:hover {
  background-color: orange;
}

#site {
  width:75%;
}

#drives_table {

    width:90%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

.opensis_password ul {

}

.opensis_password ul li {
  list-style: circle;
}

.home ul li {
  list-style-type: circle;
}
