---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a style="background-color:white;font-weight:bolder; color:purple;" href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>

<div class="home">

  <h1 class="page_heading">Accessing Network Drives Locally</h1>

  <p>
    If you want to access the network drives from a school computer or your own personal computer,
    please follow these easy steps!
  </p>

  <h3 style="font-weight:bold;">Ubuntu Computers (Asian Hope owned)</h3>

  <p>
    Start by logging in to the computer with your Asian Hope username and password.
  </p>

  <ol>
    <li>1. Click the Ubuntu menu in the upper left hand corner</li>
    <li>2. Type the name of the drive you want to access (e.g. "Resource")</li>
    <li>3. If this is your first time accessing a network drive on this computer
      it will ask you to log in again, type your username and password</li>
    <li>4. If you'll be using this computer frequently, you can choose "Remember this password forever"</li>
    <li>5. That's it! You should now be connected. Any additional drives you connect will not ask for a password.</li>
  </ol>

  <h3 style="font-weight:bold;">Windows Computers (Personal)</h3>

  <p>
    No matter what your Windows version the format is the same:
  </p>

  <p><span style="font-weight:bold;">
    \\server\folder
  </span></p>

  <p>
    For example, if you work at Logos and you want the resource drive:
    <span style="font-weight:bold;">\\lachish\resource</span>
  </p>

  <p>
    If you work at AHIS 1984 and you want the student-transfer drive:
    <span style="font-weight:bold;">\\kartan\student-transfer</span>
  </p>

  <h5 style="font-weight:bold;">Windows 7:</h5>

  <a href="http://windows.microsoft.com/en-us/windows/create-shortcut-map-network-drive#1TC=windows-7">
    http://windows.microsoft.com/en-us/windows/create-shortcut-map-network-drive#1TC=windows-7
  </a>

  <h5 style="font-weight:bold; margin-top:20px;">Windows 8:</h5>

  <a href="https://kb.xavier.edu/page.php?id=29917">
    https://kb.xavier.edu/page.php?id=29917
  </a>

  <h5 style="font-weight:bold; margin-top:20px;">Windows 10:</h5>

  <p>
    At writing Windows 10 has not been released, but we presume it is similar to Windows 8
  </p>

  <h3 style="font-weight:bold;">Apple Computers (Personal)</h3>

  <p>
    No matter what your OSX version the format is the same:
  </p>

  <p><span style="font-weight:bold;">
    smb://server/folder
  </span></p>

  <p>
    For example, if you work at Logos and you want the resource drive:
    <span style="font-weight:bold;">smb://lachish/resource</span>
  </p>

  <p>
    If you work at AHIS 1984 and you want the student-transfer drive:
    <span style="font-weight:bold;">smb://kartan/student-transfer</span>
  </p>

  <h5 style="font-weight:bold;"> Mountain Lion:</h5>

  <a href="https://support.apple.com/kb/PH10644?locale=en_US">
    https://support.apple.com/kb/PH10644?locale=en_US
  </a>

  <div style="margin-top:20px; width:60%; height:100%; border-radius: 25px; border:1px solid red;">
  <p style="text-align:center; padding:10px; margin-top:10px;">
    <span style="font-size:1em; text-transform:uppercase; font-weight:bold;">
    Note: </span>These instructions will only work if you're <span style="font-weight:bold;">on</span> site!
  </p>
</div>
















</div>
