---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a style="background-color:white;font-weight:bolder; color:purple;" href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>


          <div class="home">

            <h1 class="page_heading">Adding the Khmer Keyboard in Ubuntu</h1>

            <p>
              If you want to be able to type in Khmer, follow this simple guide!
            </p>

            <h3>Step-by-step guide</h3>

            <p>
              Once you're logged in to OpenSIS:
            </p>

            <ol>
              <li>1. Click the "Dash" button in the upper left hand corner</li>
              <li><img src="keyboard_1.png" /></li>
              <li>2. Type "Text"</li>
              <li><img src="keyboard_2.png" /></li>
              <li>3. Click the <span style="font-weight:bold;">Text Entry</span> icon that appears.</li>
              <li><img src="keyboard_3.png" /></li>
              <li>4. Click the + icon at the bottom of the language list.</li>
              <li><img src="keyboard_4.png" /></li>
              <li>5. Choose "Khmer (Cambodia)"</li>
              <li>6. Click Add</li>
              <li><img src="keyboard_5.png" /></li>
            </ol>

            <div style="margin:auto; width:100%; height:100%; padding:10px; border-radius: 25px; border:1px solid red;" class="opensis_password">
            <p>
              <span style="color: red; font-size:1em; font-weight:bold; text-transform:uppercase;">Note: </span>
            </p>
            <ul>
              <li>
                To switch between languages look in the upper right hand corner for a small "en", click on it to activate Khmer.
              </li>
              <li>
                Alternatively, you can use the keyboard shortcut Super+Space
              </li>
          </div>

          </div>
