---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a style="background-color:white;font-weight:bolder; color:purple;" href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>

<div class="home">

  <h1 class="page_heading">Asian Hope Accounts</h1>

  <p>
    Depending on your job, you may have several accounts assigned to you for the usage of various
    systems we have in place. For example, most teaching staff will have:
  </p>

  <ul class="ahaccounts">
    <li><span style="font-weight:bold;">Domain Account</span>: this will let you log on to the various workstations and lab computers</li>
    <li><span style="font-weight:bold;">Asian Hope E-mail Account</span>: you will be able to send and receive e-mail, access calendars and share documents using Google Docs with this account</li>
    <li><span style="font-weight:bold;">OpenSIS Account</span>: the account for our grading system</li>
  </ul>

  <p>
    In general, accounts will follow the schema of first initial + lastname.
    For example, John Doe will use the account name jdoe for all of the above accounts.
    In certain situations, you may be assigned a different account name.
  </p>


</div>
