---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a style="background-color:white;font-weight:bolder; color:purple;" href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>


<div class="home">

  <h1 class="page_heading">Your Asian Hope Google Apps Account</h1>

  <p style="text-align:left; padding:10px; border-radius: 10px; border:1px solid red;">
    <span style="font-size:1em; text-transform:uppercase;">Important: </span>Your email account is the portal to the calendars,
    shared documents on Google Drive and to communication with administration and colleagues.
    It works just like a normal Gmail account!
  </p>

  <p>
    Staff should check their email, at minimum, daily.
  </p>

  <p>
    There are a few specific uses cases, somewhat unique to Asian Hope and they are outlined below.
  </p>



  <h4 style="font-size:20px; font-weight:bold;">E-mail address</h4>

  <p>
    As an employee of Asian Hope, you will automatically have
    <username>@<a href="http://asianhope.org/">asianhope.org</a>
      E-mails sent to this address will be delivered to your inbox.
  </p>

  <p>
    If required, you may request an @<a href="mailto:an @logoscambodia.org">logoscambodia.org</a>
     or @asianhopeschool.org address as well.
  </p>

  <h4 style="font-size:20px; font-weight:bold;">Calendars</h4>

  <p>
    Shared calendars, generally, will not be pre-loaded on to your account. To add them, please visit the
    <a href="https://sites.google.com/a/asianhope.org/asian-hope-intranet/calendar">Calendar section of the Employee Portal</a>
    and click the +Google Calendar link the bottom right of the appropriate calendars.
  </p>

  <p>
    If you need something added to a calendar, please contact the front office, or your site manager.
  </p>

  <p>
    For sites with check-out-able resources, you may also want to add those calendars
  </p>

  <h4 style="font-size:20px; font-weight:bold;">School Calendars</h4>

  <p>
    Each site will usually have several calendars:
  </p>

  <p>
    <span style="font-weight:bold;">Events</span> (e.g. Events - AHIS): School holidays and 'big' events that would be of interest to the wider AH staff, administration and community. (Public calendar)
  </p>

  <p>
    <span style="font-weight:bold;">School Calendars</span>  (e.g. LIS - Staff): Events that pertain only to staff such as duty rosters, devotion leading, meetings or due dates for lesson plans, goals or the like. (Private calendar)
  </p>

  <p>
    <span style="font-weight:bold;">Staff Calendars</span> (e.g. Events - AHIS): School holidays and 'big' events that would be of interest to the wider AH staff, administration and community. (Public calendar)
  </p>

  <p>
    <span style="font-weight:bold;">Lunch/Meals</span> (e.g. Sanctuary - Meals): What's for lunch! (Public calendar)
  </p>

  <h4 style="font-size:20px; font-weight:bold;">Resources (projectors, labs)</h4>

  <p>
    In addition to viewing events, some sites use Google Calendar to check out resources. We have several available to check out.
  </p>

  <p>
    Resources will be prefixed by your sites' designation:
  </p>

  <p>
    LIS: Logos
  </p>

  <p>
    AHIS-TK: AHIS 592
  </p>

  <p>
    AHIS-PPT: AHIS 1984
  </p>

  <p style="margin-top:20px;">
    There are resource calendars available to see the bookings for each of these resources. To add them,
    please visit the
    <a href="https://sites.google.com/a/asianhope.org/asian-hope-intranet/calendar">Calendar section of the Employee Portal</a>
      and click the +Google Calendar link the bottom right of the appropriate calendars.
  </p>

  <p style="margin-top:20px; text-align:left; padding:10px; border-radius: 10px; border:1px solid blue;">
    <span style="font-size:1em; text-transform:uppercase;">See: </span>
    <a href="https://confluence.asianhope.org/display/MIS/Checking+out+resources+using+Google+Calendar">
      Checking out Resources using Google Calendar</a>
  </p>

</div>
