---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a style="background-color:white;font-weight:bolder; color:purple;" href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>


          <div class="home">

            <h1 class="page_heading">Changing your OpenSIS password</h1>

            <p>
              Want to change your OpenSIS password? Read on!
            </p>

            <p style="text-align:center; padding:10px; border-radius: 25px; border:1px solid red;">
              <span style="font-size:1em; text-transform:uppercase;">Important: </span><span style="color: red; text-style: underline;">
                Updating your OpenSIS password will not change any of your other passwords.
              </span>
            </p>

            <h3>Step-by-step guide</h3>

            <p>
              Once you're logged in to OpenSIS:
            </p>

            <ol>
              <li>1. Go to the <span style="font-weight:bold;">My Info</span> tab:</li>
              <li><img src="opensis_1.png" /></li>
              <li>2. Select <span style="font-weight:bold;">Preferences</span></li>
              <li><img src="opensis_2.png" /></li>
              <li>3. Select the <span style="font-weight:bold;">Password</span> tab:</li>
              <li><img src="opensis_3.png" /></li>
              <li>4. Type your current password, and your new password twice in the boxes that appear</li>
              <li><img src="opensis_4.png" /></li>
            </ol>

            <div style="margin:auto; width:60%; height:100%; padding:10px; border-radius: 25px; border:1px solid red;" class="opensis_password">
            <p style="text-align:center;">
              <span style="font-size:1em; text-transform:uppercase;">Note: </span><span style="color: red;">
                OpenSIS has some password requirements. You password must:
              </span>
              <ul>
                <li>contain a special character</li>
                <li>contain a number</li>
                <li>be at least 8 characters long</li>
              </ul>
            </p>
          </div>

          </div>
