---
layout: default
---


<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a style="background-color:white;font-weight:bolder; color:purple;" href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>



          <div class="home">

            <h1 class="page_heading">Checking out resources using Google Calendar</h1>

            <p>
              Want to check out some laptops? Need a special room for the afternoon? Read on to see how
            </p>

            <h3>Step-by-step guide</h3>

            <p>
              After opening Google Calendar
            </p>

            <ol>
              <li>
                1. Create an Event
              </li>
              <li>
                <img src="create.png" />
              </li>
              <li>2. Add a description and set the time and day.</li>
              <li>3. Click “Rooms, etc.”</li>
              <li>
                4. Add your resources. Please make sure you only add resources from your site!
              </li>
              <li>
                <img src="resource.png" />
              </li>
              <li>5. Come and get/use your scheduled resource!</li>
              <li>6. Return it promptly.</li>
            </ol>

            <p style="text-align:center; padding:10px; border-radius: 25px; border:1px solid red;">
              <span style="font-size:1em; text-transform:uppercase;">Note: </span><span style="color: red; text-style: underline;">
                If you aren't going to use a resource that you checked out, please remove your booking by deleting the event.
              </span>
            </p>

          </div>
