---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a style="background-color:white;font-weight:bolder; color:purple;" href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>

<div class="home">

  <h1 class="page_heading">Computer Usage Policies</h1>

  <p>
    This is the official (and difficult to understand) version of our Computer Use Policies.
    If you're not quite sure what something means, check out the
    <a target="_blank" href="https://docs.google.com/a/asianhope.org/document/d/1EkwF7ygwX8_3hNmeZuLIL75NOQmIvm91gkcRI7nC6rE/edit">
      "Plain English" Annotated Version</a>
  </p>

  <h3 style="font-size:20px; font-weight:bold;">a. Copyrights and Licenses —</h3>

  <p>
    Computer users must respect copyrights and licenses to software,entertainment materials,
    published and unpublished documents, and any other legally protected digital information.
  </p>

  <p>
    (1) Copying — Any material protected by copyright must not be copied except as specifically stipulated by the owner
    of the copyright or otherwise permitted by copyright law. Protected material may not be copied into, from,
    or by any Asian Hope facility or system, except pursuant to a valid license or as otherwise permitted by copyright law.
  </p>

  <p>
    (2) Number of Simultaneous Users —
    The number and distribution of copies of copyrighted materials must be handled in such a way that the number of
    simultaneous users in a department does not exceed the number of original copies purchased by that department,
    unless otherwise stipulated in the purchase contract or as otherwise permitted by copyright law.
  </p>

  <p>
    (3) Copyrights —All copyrighted information (text, images, icons, programs, video, audio, etc.)
    retrieved from computer or network resources must be used in conformance with applicable copyright and other law.
    Copied material must be properly attributed. Plagiarism of digital information is subject to the same sanctions as
    apply to plagiarism in any other media.
  </p>

  <h3 style="font-size:20px; font-weight:bold;">b. Integrity of Information Resources —</h3>

  <p>
    Computer users must respect the integrity of computer-based information resources.
  </p>

  <p>
    (1) Modification or Removal of Equipment — Computer users must not attempt to modify or remove computer equipment,
    software, or peripherals that are owned by others, without proper authorization.
  </p>

  <p>
    (2) Encroaching on Others’ Access and Use —
    Computer users must not encroach on others’ access and use of Asian Hope computers, networks, or other information resources,
    including digital information. This includes but is not limited to: attempting to access or modify personal,
    individual or any other information for which the user is not authorized; attempting to access or modify information
    systems or other information resources for which the individual is not authorized; sending chain-letters,
    unsolicited bulk electronic mail either locally or off-campus; printing excess copies of documents, files, data, or programs;
    running grossly inefficient programs when efficient alternatives are known by the user to be available;
    unauthorized modification of system facilities, operating systems, or disk partitions;
    attempting to crash or tie up an Asian Hope owned computer, network or other information resource;
    or otherwise damaging or vandalizing computing facilities, equipment, software,
    computer files or other information resources.
  </p>

  <p>
    (3) Unauthorized or Destructive Programs — Computer users must not intentionally develop or use programs which disrupt
    other computer or network users or which access private or restricted information or portions of a system and/or damage
    software or hardware components of a system. Computer users must ensure that they do not use programs or utilities which
    interfere with other computer users or which modify normally protected or restricted portions of the system or user accounts.
    Computer users must not use network links for any use other than permitted in network guidelines.
    The use of any unauthorized or destructive program may result in legal civil action for damages or other punitive action
    by any injured party, including Asian Hope, as well as criminal action.
  </p>

  <h3 style="font-size:20px; font-weight:bold;">c. Unauthorized Access —</h3>

  <p>
    Computer users must refrain from seeking to gain unauthorized access to information resources or enabling unauthorized access.
  </p>

  <p>
    (1) Abuse of Computing Privileges — Users of  information resources must not access computers, computer software,
    computer data or information, or networks without proper authorization, or intentionally enable others to do so,
    regardless of whether the computer, software, data, information, or network in question is owned by Asian Hope.
    For example, abuse of the networks to which the Asian Hope belongs or the computers at other sites connected to those
    networks will be treated as an abuse of computing privileges.
  </p>

  <p>
    (2) Reporting Problems — Any defects discovered in system accounting or system security must be reported to the
    appropriate system administrator so that steps can be taken to investigate and resolve the problem.
  </p>

  <p>
    (3) Password Protection — A computer user who has been authorized to use a password, or otherwise protected,
    account may be subject to both civil and criminal liability if the user discloses the password or otherwise makes
    the account available to others without permission of the system administrator.
  </p>

  <h3 style="font-size:20px; font-weight:bold;">d. Usage —</h3>

  <p>
    Computer users must respect the rights of other computer users. Most Asian Hope systems provide mechanisms for
    the protection of private information from examination by others. Attempts to circumvent these mechanisms in order to gain
    unauthorized access to the system or to another person’s information are a violation of policy and may violate applicable law.
    Authorized system administrators may access computer users<span>&#39;</span> files at any time for maintenance purposes.
    System administrators will report suspected unlawful or improper activities to the proper authorities.
  </p>

  <p>
    (1) Prohibited Use — Use of the computers, network or electronic communication facilities (such as electronic mail or
    instant messaging, or systems with similar functions) to send, view or download fraudulent, harassing, obscene
    (i.e., pornographic), threatening, or other messages or material that are a violation of applicable law or Asian Hope policy,
    such as under circumstances that might contribute to the creation of a hostile academic or work environment, is prohibited.
  </p>

  <p>
    (2) Mailing Lists—Users must respect the purpose and charters of computer mailing lists (including local or
    network news groups and bulletin-boards). The user of an electronic mailing list is responsible for determining the
    purpose of the list before sending messages to or receiving messages from the list. Subscribers to an electronic mailing
    list will be viewed as having solicited any material delivered by the list as long as that material is consistent with the
    list's purpose. Persons sending to a mailing list any materials which are not consistent with the list<span>&#39;</span>s
    purpose will be viewed as having sent unsolicited material.
  </p>

  <p>
    (3) Advertisements — In general, the Asian Hope's electronic communication facilities should not be used to transmit
    commercial or personal advertisements, solicitations or promotions (see Commercial Use, below).
  </p>

  <p>
    (4) Information Belonging to Others—Users must not intentionally seek or provide information on, obtain copies of,
    or modify data files, programs, passwords or other digital materials belonging to other users,
    without the specific permission of those other users.
  </p>

  <h3 style="font-size:20px; font-weight:bold;">e. Political, Personal and Commercial Use —</h3>

  <p>
    Asian Hope is a non-profit organization and, as such, is subject to specific federal, state and local laws regarding
    sources of income, political activities, use of property and similar matters.
  </p>

  <p>
    (1)  Political Use — Asian Hope information resources must not be used for partisan political activities where prohibited by federal,
    state or other applicable laws, and may be used for other political activities only when in compliance with federal,
    state and other laws and in compliance with applicable policies.
  </p>

  <p>
    (2) Personal Use — Asian Hope  information resources should not be used for personal activities unrelated to appropriate
    work functions, except in a purely incidental manner.
  </p>

  <p>
    (3) Commercial Use — Asian Hope information resources should not be used for commercial purposes,
    except in a purely incidental manner or except as permitted under other written policies or with the written approval
    of an Asian Hope agent having the authority to give such approval. Any such commercial use should be properly related
    to Asian Hope activities and provide for appropriate reimbursement for taxes and other costs that may be incurred by
    reason of the commercial use.
  </p>















</div>
