---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a style="background-color:white;font-weight:bolder; color:purple;" href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>

<div class="home">

  <h1 class="page_heading">Computer Policies - annotated in plain English</h1>

  <h3 style="font-size:20px; font-weight:bold;">a. Copyrights and Licenses —</h3>

  <p>
    Computer users must respect copyrights and licenses to software,entertainment materials,
    published and unpublished documents, and any other legally protected digital information.
  </p>

  <p style="color:blue;">
    We shouldn't steal anything, even if it’s easier and cheaper than not stealing.
  </p>

  <p>
    (1) Copying — Any material protected by copyright must not be copied except as specifically stipulated by the owner
    of the copyright or otherwise permitted by copyright law. Protected material may not be copied into, from,
    or by any Asian Hope facility or system, except pursuant to a valid license or as otherwise permitted by copyright law.
  </p>

  <p style="color:blue;">
    Don’t copy music, videos, or software unless you have permission.
  </p>

  <p>
    (2) Number of Simultaneous Users —
    The number and distribution of copies of copyrighted materials must be handled in such a way that the number of
    simultaneous users in a department does not exceed the number of original copies purchased by that department,
    unless otherwise stipulated in the purchase contract or as otherwise permitted by copyright law.
  </p>

  <p style="color:blue;">
    If we only bought a license for one computer, we’ll only use it on one computer.
  </p>

  <p>
    (3) Copyrights —All copyrighted information (text, images, icons, programs, video, audio, etc.)
    retrieved from computer or network resources must be used in conformance with applicable copyright and other law.
    Copied material must be properly attributed. Plagiarism of digital information is subject to the same sanctions as
    apply to plagiarism in any other media.
  </p>

  <p style="color:blue;">
    Don’t plagiarize. Use copyrighted works within the bounds set by law.
  </p>

  <h3 style="font-size:20px; font-weight:bold;">b. Integrity of Information Resources —</h3>

  <p>
    Computer users must respect the integrity of computer-based information resources.
  </p>

  <p style="color:blue;">
    Breaking the computers costs money that could be better spent elsewhere.
  </p>

  <p>
    (1) Modification or Removal of Equipment — Computer users must not attempt to modify or remove computer equipment,
    software, or peripherals that are owned by others, without proper authorization.
  </p>

  <p style="color:blue;">
    Don’t take it upon yourself to fix things. It’s not your job - we have IT staff for a reason.
    Don’t take any of the attached pieces without permission.
  </p>

  <p>
    (2) Encroaching on Others’ Access and Use —
    Computer users must not encroach on others’ access and use of Asian Hope computers, networks, or other information resources,
    including digital information. This includes but is not limited to: attempting to access or modify personal,
    individual or any other information for which the user is not authorized; attempting to access or modify information
    systems or other information resources for which the individual is not authorized; sending chain-letters,
    unsolicited bulk electronic mail either locally or off-campus; printing excess copies of documents, files, data, or programs;
    running grossly inefficient programs when efficient alternatives are known by the user to be available;
    unauthorized modification of system facilities, operating systems, or disk partitions;
    attempting to crash or tie up an Asian Hope owned computer, network or other information resource;
    or otherwise damaging or vandalizing computing facilities, equipment, software,
    computer files or other information resources.
  </p>

  <ul style="color:blue;">
    <li>Don’t be selfish. All of our resources are shared. Leave things as you found them.</li>
    <li>Don’t install or run any software without permission.</li>
    <li>Don’t attempt to access files that you shouldn’t have access to.</li>
    <li>Don’t download big files during working hours.</li>
    <li>Don’t send out junk e-mail that no one wants.</li>
    <li>Don’t print more than you need.</li>
    <li>Don't use YouTube or other streaming media during working hours: you're making things slow for everyone.</li>
  </ul>

  <p>
    (3) Unauthorized or Destructive Programs — Computer users must not intentionally develop or use programs which disrupt
    other computer or network users or which access private or restricted information or portions of a system and/or damage
    software or hardware components of a system. Computer users must ensure that they do not use programs or utilities which
    interfere with other computer users or which modify normally protected or restricted portions of the system or user accounts.
    Computer users must not use network links for any use other than permitted in network guidelines.
    The use of any unauthorized or destructive program may result in legal civil action for damages or other punitive action
    by any injured party, including Asian Hope, as well as criminal action.
  </p>

  <p style="color:blue;">
    Don’t try and get around network blocks by using fancy software. It can damage equipment,
    and it prevents others from getting legitimate work done. Streaming music/Internet radio does disrupt
    network access and should not be done unless strictly related to work.
  </p>

  <h3 style="font-size:20px; font-weight:bold;">c. Unauthorized Access —</h3>

  <p>
    Computer users must refrain from seeking to gain unauthorized access to information resources or enabling unauthorized access.
  </p>

  <p style="color:blue;">
    Don’t try and get at things you don’t have permission to use. Don’t, by negligence or ill intent,
    give someone else access. This means change your password often.
  </p>

  <p>
    (1) Abuse of Computing Privileges — Users of  information resources must not access computers, computer software,
    computer data or information, or networks without proper authorization, or intentionally enable others to do so,
    regardless of whether the computer, software, data, information, or network in question is owned by Asian Hope.
    For example, abuse of the networks to which the Asian Hope belongs or the computers at other sites connected to those
    networks will be treated as an abuse of computing privileges.
  </p>

  <p style="color:blue;">
    If you don’t have permission to use something, don’t use it.
  </p>

  <p>
    (2) Reporting Problems — Any defects discovered in system accounting or system security must be reported to the
    appropriate system administrator so that steps can be taken to investigate and resolve the problem.
  </p>

  <p style="color:blue;">
    If you see something wrong, report it.
  </p>

  <p>
    (3) Password Protection — A computer user who has been authorized to use a password, or otherwise protected,
    account may be subject to both civil and criminal liability if the user discloses the password or otherwise makes
    the account available to others without permission of the system administrator.
  </p>

  <p style="color:blue;">
    Don’t share your password.
  </p>

  <h3 style="font-size:20px; font-weight:bold;">d. Usage —</h3>

  <p>
    Computer users must respect the rights of other computer users. Most Asian Hope systems provide mechanisms for
    the protection of private information from examination by others. Attempts to circumvent these mechanisms in order to gain
    unauthorized access to the system or to another person’s information are a violation of policy and may violate applicable law.
    Authorized system administrators may access computer users<span>&#39;</span> files at any time for maintenance purposes.
    System administrators will report suspected unlawful or improper activities to the proper authorities.
  </p>

  <p style="color:blue;">
    Some data is reserved for certain people. Don’t try and get around the blocks we have in place.
    Administrators have access to everything, so don’t put anything illegal or improper on your computer or account.
  </p>

  <p>
    (1) Prohibited Use — Use of the computers, network or electronic communication facilities (such as electronic mail or
    instant messaging, or systems with similar functions) to send, view or download fraudulent, harassing, obscene
    (i.e., pornographic), threatening, or other messages or material that are a violation of applicable law or Asian Hope policy,
    such as under circumstances that might contribute to the creation of a hostile academic or work environment, is prohibited.
  </p>

  <p style="color:blue;">
    Don’t look at porn or questionable material. Don’t use Asian Hope resources to make someone else’s life miserable.
  </p>

  <p>
    (2) Mailing Lists—Users must respect the purpose and charters of computer mailing lists (including local or
    network news groups and bulletin-boards). The user of an electronic mailing list is responsible for determining the
    purpose of the list before sending messages to or receiving messages from the list. Subscribers to an electronic mailing
    list will be viewed as having solicited any material delivered by the list as long as that material is consistent with the
    list's purpose. Persons sending to a mailing list any materials which are not consistent with the list<span>&#39;</span>s
    purpose will be viewed as having sent unsolicited material.
  </p>

  <p style="color:blue;">
    There are a number of mailing lists, each with a purpose. Don’t spam them. Keep in mind what each list is for,
    and keep your messages appropriate.
  </p>

  <p>
    (3) Advertisements — In general, the Asian Hope's electronic communication facilities should not be used to transmit
    commercial or personal advertisements, solicitations or promotions (see Commercial Use, below).
  </p>

  <p style="color:blue;">
    If an email is for personal gain, and of no use to Asian Hope or its’ wider community don’t send it out.
  </p>

  <p>
    (4) Information Belonging to Others—Users must not intentionally seek or provide information on, obtain copies of,
    or modify data files, programs, passwords or other digital materials belonging to other users,
    without the specific permission of those other users.
  </p>

  <p style="color:blue;">
    Don’t copy other people’s stuff unless you ask first. Don’t help people copy other people’s stuff without their permission.
  </p>

  <h3 style="font-size:20px; font-weight:bold;">e. Political, Personal and Commercial Use —</h3>

  <p>
    Asian Hope is a non-profit organization and, as such, is subject to specific federal, state and local laws regarding
    sources of income, political activities, use of property and similar matters.
  </p>

  <p style="color:blue;">
    We have to obey the law to protect our status. These policies help us do that.
  </p>

  <p>
    (1)  Political Use — Asian Hope information resources must not be used for partisan political activities where prohibited by federal,
    state or other applicable laws, and may be used for other political activities only when in compliance with federal,
    state and other laws and in compliance with applicable policies.
  </p>

  <p style="color:blue;">
    Don’t use the Asian Hope resources for politics, local or otherwise.
  </p>

  <p>
    (2) Personal Use — Asian Hope  information resources should not be used for personal activities unrelated to appropriate
    work functions, except in a purely incidental manner.
  </p>

  <p style="color:blue;">
    Work when you’re at work. There is time to play at home. If your play is work related, all the better.
    Your personal files may NOT be stored on Asian Hope computers or servers, except when related to work.
  </p>

  <p>
    (3) Commercial Use — Asian Hope information resources should not be used for commercial purposes,
    except in a purely incidental manner or except as permitted under other written policies or with the written approval
    of an Asian Hope agent having the authority to give such approval. Any such commercial use should be properly related
    to Asian Hope activities and provide for appropriate reimbursement for taxes and other costs that may be incurred by
    reason of the commercial use.
  </p>

  <p style="color:blue;">
    If you want to use Asian Hope resources for business, or other purposes, ask permission. Sometimes it will be allowed,
    but you have to let the administration decide.
  </p>















</div>
