---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a style="background-color:white;font-weight:bolder; color:purple;" href="how-to.html">
                  How-to Articles</a></li>
                  <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                        <ul>
                              <li><a href="network_drives.html">Network Drives</a>
                                <ul>
                                  <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                                </ul>
                              </li>
                              <li><a href="my_new_account.html">My New Account</a></li>
                              <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                                <ul>
                                  <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                                </ul>
                              </li>
                              <li><a href="changing_password.html">Changing Password</a></li>
                              <li><a href="ah_google_account.html">AH Google Apps Account</a>
                                <ul>
                                  <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                                </ul>
                              </li>
                              <li><a href="opensis.html">OpenSIS</a>
                                <ul>
                                  <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                                </ul>
                              </li>
                              <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                        </ul>
                  </li>
                  <li><a href="ubuntu.html">Ubuntu</i></a>
                        <ul>
                              <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                              <li><a href="list_software.html">Software Usage List</a></li>
                        </ul>
                  </li>
                  <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                  <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                        <ul>
                              <li><a href="computer_policies.html">Computer Policies</a></li>
                        </ul>
                  </li>
                  <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
            </ul>
  </div>

<div class="home">

  <h1 style="padding-top:60px;" class="page_heading">How-to Articles</h1>

  <ul>
    <li><a href="download_youtube.html">How to download YouTube Videos</a></li>
    <li><a href="changing_password.html">Changing Your Password</a></li>
    <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
    <li><a href="checking_out_resources.html">Checking out resources using Google Calendar</a></li>
    <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
    <li><a href="add_keyboard.html">Adding the Khmer Keyboard in Ubuntu</a></li>
  </ul>


</div>
