---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a style="background-color:white;font-weight:bolder; color:purple;" href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>

<div class="home">

  <h1 class="page_heading">I'm new. Where do I start?</h1>

  <p>Welcome to Asian Hope!</p>

  <p>
    We're blessed to have a multitude of resources,
    but it can be a bit overwhelming at first. The fact that you're here is already a good sign though.
  </p>

  <p>
    Start by reading <a href="my_new_account.html">My New Account</a>
  </p>

  <p>
    By all means, feel free to explore the documentation. If you just want to get the essentials, you should:
  </p>

  <ul>
    <li>Set up Google Chrome and sign in with your Asian Hope account</li>
    <li>Change your password (see: <a href="changing_password.html">Changing your password</a> )</li>
    <li>Log in to your Google Apps account (see: <a href="ah_google_account.html">Your Asian Hope Google Apps Account</a> ) and:</li>
      <ul>
        <li>Check your email</li>
        <li>Add all of the calendars for your site to your Google Calendar</li>
        <li>Set up your Google+ account and join the AH Community</li>
      </ul>
    <li>Add Lesson plan folders from the <a href="https://sites.google.com/a/asianhope.org/asian-hope-intranet/">Employee Portal</a> (if you're a teacher)</li>
    <li>Add printers from the <a href="https://sites.google.com/a/asianhope.org/asian-hope-intranet/">Employee Portal</a></li>
    <li>Log in to a classroom computer or laptop and
      <a href="list_software.html">explore the awesome applications we have available</a></li>
  </ul>


</div>
