---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a style="background-color:white;font-weight:bolder; color:purple;" href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>



<div class="home">

  <h1 class="page_heading">Leaving Asian Hope</h1>

  <p>
    So the time has come for you to move on! We're sorry to see you go.
    Under normal circumstances you'll have 30 days of access after your last day to your
    Asian Hope email account to collect your documents, export your important contacts and clean up.!
  </p>

  <p style="text-align:center; padding:10px; border-radius: 25px; border:1px solid red;">
    <span style="font-size:1em; text-transform:uppercase;">Warning: </span><span style="color: red; text-style: underline;">
      You will not be notified before your access is terminated, so don't procrastinate!
    </span>
  </p>

  <h2>Exporting Gmail Contacts, Downloading Documents from Google Drive, Downloading Old Emails and Exporting Other Google Data</h2>

  <p>
    Reference: <a href="https://support.google.com/takeout/?hl=en">https://support.google.com/takeout/?hl=en</a>
  </p>

  <p>
    You can now download almost all of your Google Data in a convenient package in nice formats!
  </p>

  <p>
    Visit: <a href="https://www.google.com/takeout/">https://www.google.com/takeout/</a> to get it all.
  </p>

  <h2>Set up an Autoresponder with new Contact Details</h2>

  <p>
    Reference: <a href="https://support.google.com/mail/answer/25922?hl=en">https://support.google.com/mail/answer/25922?hl=en</a>
  </p>

  <p>
    If you're being replaced, or simply want to let people know where you can be reached in the future,
    set up a "Vacation Responder" with your (or your replacements) contact details.
  </p>

  <ol>
    <li>1. Click the gear icon  in the upper right, then select Settings.</li>
    <li>2. From the General tab, select Vacation responder on in the Vacation responder: section.</li>
    <li>3. Enter the subject and body of your message in the Subject: and Message: fields.</li>
    <li>4. If you've enabled a personalized signature in your settings,
      Gmail will automatically append it to the bottom of your vacation response.
      No rich formatting, including images, will be included.</li>
    <li>5. Check the box next to Only send a response to people in my Contacts if you don't
      want everyone who emails you to know that you're away from your mail. If you use Google Apps,
      you'll also see an option to only send a response to people your domain.
      If you check both of these boxes, only people who are in your contacts and your domain will
      receive the automatic response.</li>
    <li>6. Click Save Changes.</li>
  </ol>

  <h2>Forward Email to Another Account</h2>

  <p>
    Reference: <a href="https://support.google.com/mail/answer/10957?hl=en">https://support.google.com/mail/answer/10957?hl=en</a>
  </p>

  <p>
    Here's how to forward messages automatically during the 30 days your account remains open:
  </p>

  <ol>
    <li>1. Click the gear icon  in the upper right, then select Settings.</li>
    <li>2. Click the Forwarding and POP/IMAP tab.</li>
    <li>3. From the first drop-down menu in the "Forwarding" section, select 'Add a Forwarding Address.'</li>
    <li>4. Enter the email address to which you'd like your messages forwarded.</li>
      <ol>
        <li>a. For your security, we'll send a verification to that email address.</li>
      </ol>
    <li>5. Open your forwarding email account, and find the confirmation message from the Gmail team.</li>
    <li>6. Click the verification link in that email.</li>
    <li>7. Back in your Gmail account, select the 'Forward a copy of incoming mail to...'
      option and select your forwarding address from the drop-down menu.</li>
    <li>8. Select the action you'd like your messages to take from the drop-down menu.
      You can choose to keep Gmail's copy of the message in your inbox,
      or you can send it automatically to All Mail or Trash.</li>
    <li>9. Click Save Changes.</li>
  </ol>

  <h2>Giving Email Access to Your Successor</h2>

  <p>
    Reference: <a href="https://support.google.com/mail/answer/138350?hl=en">https://support.google.com/mail/answer/138350?hl=en</a>
  </p>

  <ol>
    <li>1. Click the  gear icon in the top righ</li>
    <li>2. Select Settings.</li>
    <li>3. Select the Accounts and Import tab.</li>
    <li>4. Under 'Grant access to your account,' click the Add another account link.</li>
    <li>5. Enter the email address of the person you'd like to access your account and click Next Step.
      Remember you can only enter a Google Mail address.</li>
    <li>6. You'll see a confirmation message. Click Send email to grant access if you're sure.</li>
    <li>7. The delegate will receive a verification email explaining that you've granted access to them.</li>
      <ul>
        <li>After the delegate confirms this request,
          it may take up to 30 minutes for the verification process to be completed.
          To see if the delegate has confirmed access to your account,
          look at the Accounts and Import tab in Settings
        </li>
      </ul>
  </ol>

  <h2>Transferring Ownership of Documents</h2>

  <p>
    Currently only the MIS Department can transfer ownership of your documents.
    If you have a direct successor please send an email to
    <a href="it@asianhope.org">it@asianhope.org</a> to request transfer to a specific email address.
  </p>

  <p>
    If you don't have a direct successor you can leave your account the way it is.
    Part of the standard procedure in closing an account is transferring documents to a
    neutral account. Any sharing settings you have will be preserved.
  </p>


</div>
