---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a style="background-color:white;font-weight:bolder; color:purple;" href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>

<div class="home">

  <h1 class="page_heading">List of Software on AH Computers</h1>

  <p>
    We use nearly 100% <span style="font-weight:bold;">free</span>, open-source software on AH computers.
    If you're interested in getting these programs for your personal computer, please use the official download link provided.
  </p>

  <p>
    Getting your software from a other less reputable sources
    <span style="font-weight:bold;">may</span> include spyware or viruses.
  </p>

  <table id="drives_table">

  <tr style="text-align:left; border:1px solid black; background:gray;">
  <th>Name</th>
  <th>Function</th>
  <th>Name brand-Equivalent</th>
  <th>Official Download Link</th>
  </tr>
  <tr>
  <td>Audacity</td>
  <td>Record and edit audio</td>
  <td>GarageBand (minus the loops and instruments)</td>
  <td><a href="http://audacity.sourceforge.net/download/">http://audacity.sourceforge.net/download/</a></td>
  </tr>
  <tr>
  <td>Blender</td>
  <td>Create 3d animations, or models suitable for 3d printing</td>
  <td>Maya, 3D Studio Max</td>
  <td><a href="http://www.blender.org/download/">http://www.blender.org/download/</a></td>
  </tr>
  <tr>
  <td>Celestia</td>
  <td>Explore the universe</td>
  <td>--</td>
  <td><a href="http://www.shatters.net/celestia/download.html">http://www.shatters.net/celestia/download.html</a></td>
  </tr>
  <tr>
  <td>Eclipse</td>
  <td>Fully functioning IDE for Java programming</td>
  <td>Visual Studio</td>
  <td><a href="https://eclipse.org/downloads/">https://eclipse.org/downloads/</a></td>
  </tr>
  <tr>
  <td>GCompris</td>
  <td>Fun educational games for lower elementary</td>
  <td>--</td>
  <td>Free on Linux, purchase on Windows/OSX
    <a href="http://gcompris.net/buy-en.html">http://gcompris.net/buy-en.html</a></td>
  </tr>
  <tr>
  <td>Geogebra</td>
  <td>Explore algebra and geometry</td>
  <td>--</td>
  <td><a href="http://www.geogebra.org/download">http://www.geogebra.org/download</a></td>
  </tr>
  <tr>
  <td>Gimp</td>
  <td>Edit Photos</td>
  <td>Photoshop</td>
  <td><a href="http://www.gimp.org/downloads/">http://www.gimp.org/downloads/</a></td>
  </tr>
  <tr>
  <td>Google Chrome</td>
  <td>Browse the web</td>
  <td>--</td>
  <td><a href="http://www.google.com/chrome/">http://www.google.com/chrome/</a></td>
  </tr>
  <tr>
  <td>Inkscape</td>
  <td>Edit vector based drawings</td>
  <td>Illustrator</td>
  <td><a href="https://inkscape.org/en/download/">https://inkscape.org/en/download/</a></td>
  </tr>
  <tr>
  <td>Kazam</td>
  <td>Record a screencast</td>
  <td>--</td>
  <td>(Linux Only)</td>
  </tr>
  <tr>
  <td>Kdenlive</td>
  <td>Edit and create movies</td>
  <td>iMovie/Premiere</td>
  <td><a href="https://kdenlive.org/downloading-and-installing-kdenlive">https://kdenlive.org/downloading-and-installing-kdenlive</a></td>
  </tr>
  <tr>
  <td>Krita</td>
  <td>Make digital art</td>
  <td>Corel Draw / Sketchbook</td>
  <td><a href="https://krita.org/download/krita-desktop/">https://krita.org/download/krita-desktop/</a></td>
  </tr>
  <tr>
  <td>LibreOffice Calc</td>
  <td>Spreadsheet</td>
  <td>Excel</td>
  <td><a href="http://www.libreoffice.org/download/libreoffice-fresh/">http://www.libreoffice.org/download/libreoffice-fresh/</a></td>
  </tr>
  <tr>
  <td>LibreOffice Impress</td>
  <td>Presentations</td>
  <td>PowerPoint</td>
  <td><a href="http://www.libreoffice.org/download/libreoffice-fresh/">http://www.libreoffice.org/download/libreoffice-fresh/</a></td>
  </tr>
  <tr>
  <td>LibreOffice Writer</td>
  <td>Word processor</td>
  <td>Word</td>
  <td><a href="http://www.libreoffice.org/download/libreoffice-fresh/">http://www.libreoffice.org/download/libreoffice-fresh/</a></td>
  </tr>
  <tr>
  <td>Marble</td>
  <td>3d globe</td>
  <td>Google Earth</td>
  <td>(Linux Only)</td>
  </tr>
  <tr>
  <td>PDF Shuffler</td>
  <td>Combine and reformat PDFs</td>
  <td>--</td>
  <td>(Linux Only)</td>
  </tr>
  <tr>
  <td>Processing</td>
  <td>Educational programming language, visually focused</td>
  <td>--</td>
  <td><a href="https://processing.org/download/">https://processing.org/download/</a></td>
  </tr>
  <tr>
  <td>Screenshot</td>
  <td>take a screenshot</td>
  <td>Snipping Tool (Windows)</td>
  <td>(Linux Only)</td>
  </tr>
  <tr>
  <td>Scribus</td>
  <td>Document layout</td>
  <td>InDesign</td>
  <td><a href="http://wiki.scribus.net/canvas/Download">http://wiki.scribus.net/canvas/Download</a></td>
  </tr>
  <tr>
  <td>Stellarium</td>
  <td>Explore the night sky</td>
  <td>--</td>
  <td><a href="http://www.stellarium.org/">http://www.stellarium.org/</a></td>
  </tr>
  <tr>
    <td>VLC</td>
    <td>watch videos, show your document camera</td>
    <td>Windows Media Player</td>
    <td><a href="http://www.videolan.org/vlc/index.html">http://www.videolan.org/vlc/index.html</a></td>
  </tr>

  </table>






















</div>
