---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a style="background-color:white;font-weight:bolder; color:purple;" href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>

<div class="home">

  <h1 class="page_heading">MIS Department Responsibilities</h1>

  <h3 style="font-size:20px; font-weight:bold;">IT Department Responsibilities</h3>

  <p style="font-weight:bold;">
    Manage information technology and computer systems
  </p>

  <p>
    we will:
  </p>

  <ul>
    <li>make sure everyone has what they need to do their jobs.</li>
    <li>talk about feasibility, budget and timelines of projects with teachers and administration.</li>
    <li>stick to the budget.</li>
  </ul>

  <p style="font-weight:bold;">
    Ensure technology is accessible and equipped with current hardware and software
  </p>

  <p>
    we will:
  </p>

  <ul>
    <li>troubleshoot any Asian Hope owned hardware, software and network.</li>
    <li>know how things should work (hardware, software and network wise)</li>
    <li>train you on how to use the resources we have.</li>
    <li>recommend strategies and appropriate technology when asked.</li>
    <li>maintain a current and accurate inventory of resources.</li>
    <li>make purchases as need dictates.</li>
    <li>evaluate and upgrade technology when appropriate.</li>

  </ul>

  <p style="font-weight:bold;">
    Manage information technology and computer systems
  </p>

  <p>
    we will:
  </p>

  <ul>
    <li>troubleshoot problems with Asian Hope owned equipment and software.</li>
    <li>log/list required repairs and maintenance</li>
    <li>research current/potential resources and services</li>
    <li>provide network access to all staff and students</li>
    <li>setup workstations and other permanent installs</li>
    <li>provide network account and passwords as required</li>
    <li>monitor security of technology and advise staff of breaches</li>
    <li>identify and prepare hardware for disposal when appropriate</li>
  </ul>

  <p>
    we will not:
  </p>

  <ul>
    <li>fix/repair/troubleshoot personal technology</li>
    <li>break the warranty seal of a product before seeking support from the provider</li>
    <li>install unapproved software on Asian Hope computers</li>
  </ul>


</div>
