---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a style="background-color:white;font-weight:bolder; color:purple;" href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>

<div class="home">

  <h1 class="page_heading">My New Account</h1>

  <p>
    Welcome to Asian Hope! We're glad you're working with us.
    There's a lot to learn, but here's the important stuff.
    All of these things are explored in greater detail throughout this document,
    at the <a href="http://moodle.asianhope.org/">Asian Hope Moodle</a>
    or in the training materials available at <a href="http://it.asianhope.org/help/">it.asianhope.org</a>
  </p>

  <h4 style="text-decoration:underline; font-weight:bold;">
    E-Mail
  </h4>

  <p>
    Your email address was given to you in the initial email you received.
    Generally, it will be <a href="mailto:username@asianhope.org">username@asianhope.org</a>
  </p>

  <p>
    You can log in by going to:
    <a href="http://mail.asianhope.org">http://mail.asianhope.org</a> and entering in your username and  password.
  </p>

  <h4 style="text-decoration:underline; font-weight:bold;">
    Chrome
  </h4>

  <p>
    If you're not already using it,
    please download and install <a href="https://google.com/chrome">Google Chrome</a>.
    Using Google Chrome will help make sure your experience using AH systems is the best it can be.
  </p>

  <p>
    Once you have it downloaded and installed,
    please <a href="https://support.google.com/chrome/answer/185277?hl=en">sign in to Chrome</a> with your Asian Hope account.
    This will let you have access to the <a href="https://sites.google.com/a/asianhope.org/asian-hope-intranet/">Employee Portal</a>
    where you can get all the calendars and resources you'll need access to.
  </p>

  <h4 style="text-decoration:underline; font-weight:bold;">
    Employee Portal
  </h4>

  <p>
    The <a href="https://sites.google.com/a/asianhope.org/asian-hope-intranet/">Employee Portal</a> is where you can find a curated set of resources.
    Things like calendars, printers and important documents can all be found here.
  </p>

  <h4 style="text-decoration:underline; font-weight:bold;">
    Computers
  </h4>

  <p>
    This username and password will grant you access to most computers at your work site.
    Instructions for changing your password are available in the
    <a href="changing_password.html">Changing your password</a> section of this document.
  </p>

  <h4 style="text-decoration:underline; font-weight:bold;">
    Calendars
  </h4>

  <p>
    There are a number of important calendars available to you.
  </p>

  <p>
    After you have logged in to your e-mail account go to the:
    <a href="https://sites.google.com/a/asianhope.org/asian-hope-intranet/calendar">Employee Portal</a>
  </p>

  <p>
    From there, click the small +Google Calendar in the bottom right to get access to the shared calendars in your own account.
  </p>

  <h4 style="text-decoration:underline; font-weight:bold;">
    Training
  </h4>

  <p>
    There are lots of materials for new staff available on Asian Hope's Moodle.
  </p>

  <p>
    After you have logged in to your e-mail account go to the:
    You can register an account with your @<a href="http://asianhope.org/">asianhope.org</a> address at the link below.
  </p>

  <p>
    <a href="http://moodle.asianhope.org/login/signup.php">http://moodle.asianhope.org/login/signup.php</a>
  </p>

  <p>
    (please check your spam folder if you don't get a confirmation email!)
  </p>

  <h4 style="text-decoration:underline; font-weight:bold;">
    Workplace
  </h4>

  <p>
    We use Workplace for networking inside of Asian Hope.
    This is a product by the people who made Facebook, but has a more work-centered vibe.
  </p>

  <p>
    You should already have an account! Just log in at
    <a href="https://asianhope.facebook.com/">https://asianhope.facebook.com</a> and get set up!
  </p>

  <p>
    You'll automatically be a part of a few default groups, but please explore and see what's been posted in the past.
  </p>






</div>
















</div>
