---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a style="background-color:white;font-weight:bolder; color:purple;" href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>

<div class="home">

  <h1 class="page_heading">Network Drives</h1>

  <h4 style="font-weight:bold;">Network Resources</h4>

  <p>
    Depending on your role, you will have access to some or all of the following network drives:
  </p>

  <table id="drives_table">
  <tr style="text-align:left; border:1px solid black; background:gray;">
  <th>Name</th>
  <th>Name in Ubuntu</th>
  <th>Name in Windows</th>
  <th>Descirption</th>
  </tr>
  <tr>
  <td>Home</td>
  <td>home</td>
  <td>H:\</td>
  <td>a user(s) private drive for personal storage</td>
  </tr>
  <tr>
  <td>Office Docs</td>
  <td>office-docs</td>
  <td>O:\</td>
  <td>for use by office staff</td>
  </tr>
  <tr>
    <tr>
    <td>Resource Drive</td>
    <td>resource</td>
    <td>R:\</td>
    <td>curriculum and persistent resources are stored here</td>
    </tr>
  <tr>
  <td>Yearbook</td>
  <td>yearbook</td>
  <td>Y:\</td>
  <td>for storing photos and yearbook layouts (yearbook class at Logos only)</td>
  </tr>
  <tr>
  <td>Teacher Transfer</td>
  <td>teacher-transfer</td>
  <td>T:\</td>
  <td>a general place for the temporary storage of files like scans and YouTube downloads, wiped <span style="font-weight:bold;">weekly</span></td>
  </tr>
  <tr>
  <td>Student Transfer</td>
  <td>student-transfer</td>
  <td>X:\</td>
  <td>a place where teachers can place files for students, wiped <span style="font-weight:bold;">annually</span></td>
  </tr>
  </table>

  <p style="margin-top:20px;">
    If you are using your personal computer and want access to these drives please see IT staff.
  </p>

  <h4 style="font-weight:bold;">Quotas</h4>

  <p>
    Your domain account will give you access to the various shared drives that are hosted on campus.
    These drives are all backed up nightly, so any stored data is secure.
    However, there is limited capacity for these drives. Please use your allotted space wisely.
  </p>

  <p>
    If you need additional space, please see IT staff.
  </p>
































































</div>
