---
layout: default
---

<div>
          <ul id="menu_nav">
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="ah_accounts.html">Asian Hope Accounts</i></a>
                      <ul>
                            <li><a href="network_drives.html">Network Drives</a>
                              <ul>
                                <li><a href="access_drives_locally.html">Access Drive Locally</a></li>
                              </ul>
                            </li>
                            <li><a href="my_new_account.html">My New Account</a></li>
                            <li><a href="remote_access_servers.html">Remote Access to File Servers</a>
                              <ul>
                                <li><a href="download_youtube.html">How to Download YouTube Videos</a></li>
                              </ul>
                            </li>
                            <li><a href="changing_password.html">Changing Password</a></li>
                            <li><a href="ah_google_account.html">AH Google Apps Account</a>
                              <ul>
                                <li><a href="checking_out_resources.html">Checkout Resources with Google Calendar</a></li>
                              </ul>
                            </li>
                            <li><a href="opensis.html">OpenSIS</a>
                              <ul>
                                <li><a href="changing_opensis_password.html">Changing your OpenSIS Password</a></li>
                              </ul>
                            </li>
                            <li><a href="leaving_ah.html">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a style="background-color:white;font-weight:bolder; color:purple;" href="ubuntu.html">Ubuntu</i></a>
                      <ul>
                            <li><a href="add_keyboard.html">Adding Khmer Keyboard</a></li>
                            <li><a href="list_software.html">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="mis_responsibilities.html">MIS Department Responsibilities</a></li>
                <li><a href="computer_usage_policies.html">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="computer_policies.html">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="i_am_new.html">I'm new. Where do I start?</a></li>
          </ul>
</div>

<div class="home">

  <h1 class="page_heading">Ubuntu</h1>

  <p>
    Ubuntu is the operating system (OS) of choice for Asian Hope.
    It's fast, modern, easy to maintain and free in all senses of the word.
    It is a little bit different from Windows though, and takes a little bit of getting used to.
  </p>


</div>
