

<div id="menu_nav" style="float:left; width:25%;">
<nav>

          <ul>
                <li><a href="how-to.html">How-to Articles</a></li>
                <li><a href="#">Asian Hope Accountsc</i></a>
                      <ul>
                            <li><a href="#">Network Drives</a></li>
                            <li><a href="#">My New Account</a></li>
                            <li><a href="#">Remote Access to File Servers</a></li>
                            <li><a href="#">Changing Password</a></li>
                            <li><a href="#">AH Google Apps Account</a></li>
                            <li><a href="#">OpenSIS</a></li>
                            <li><a href="#">Leaving Asian Hope</a></li>
                      </ul>
                </li>
                <li><a href="#">Ubuntu</i></a>
                      <ul>
                            <li><a href="#">Adding Khmer Keyboard</a></li>
                            <li><a href="#">Software Usage List</a></li>
                      </ul>
                </li>
                <li><a href="#">MIS Department Responsibilities</a></li>
                <li><a href="#">computer Usage Policies</i></a>
                      <ul>
                            <li><a href="#">Computer Policies</a></li>
                      </ul>
                </li>
                <li><a href="#">I'm new. Where do I start?</a></li>
          </ul>
</nav>
</div>
