<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

<!--
        {% include menu.html %}
-->
        <div id="page_content">
          {{ content }}
        </div>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
